#banner1 {
    background-image: url('../images/register.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    color:#92a8d1 !important;
    position: relative;
}

#banner1::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.banner1-left,
.banner1-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 130vh;
    position: relative;
    z-index: 2;
}

.banner1-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.banner1-right h1 {
    font-size: 5rem;
}

.banner1-right h1 img {
    width: 5rem;
}

.banner1-left h1 {
    font-weight: bolder;
}
